__pycache__/extract.cpython-311.pyc
__pycache__/transform.cpython-311.pyc
scripts/__pycache__/extract.cpython-311.pyc
scripts/__pycache__/transform.cpython-311.pyc
scripts/common/__pycache__/base.cpython-311.pyc
scripts/common/__pycache__/models.cpython-311.pyc
venv/*
logs/*
dags/__pycache__/*
plugins/__pycache__/*
.vscode/